extends layout 

block layout-content
    link(rel="stylesheet" href="/css/login.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    body
        div(class="container")
            div(class="box")
                div(class="box-login" id="login")
                    div(class="top-header")
                        h3 Login 
                        small We are happy to have you back.
                    div(class="input-group")
                        div(class="input-field")
                            input(type="text" class="input-box" id="logEmail" required)
                            label(for="logEmail") Email Address 
                    div(class="input-group")
                        div(class="input-field")
                            input(type="password" class="input-box" id="logPassword" required)
                            label(for="logPassword") Password 
                            div(class="eye-area")
                                div(class="eye-box" onClick="myLogPassword()")
                                    i(class="fa-regular fa-eye" id="eye")
                                    i(class="fa-regular fa-eye-slash" id="eye-slash")
                        div(class="remember")
                            input(type="checkbox" id="formCheck" class="check")
                            label(for="formCheck") Remember Me 
                        div(class="input-field" )
                            input(type="submit" class="input-submit" value="Sign In")
                        div(class="forgot")
                            a(href="#") Forgot Password?

                div(class="box-register" id="register")
                        div(class="top-header")
                            h3 Register 
                            small We are happy to have you with us.
                        div(class="input-group")
                            div(class="input-field")
                                input(type="text" class="input-box" id="regUser" required)
                                label(for="regUser") Username
                        div(class="input-group")
                            div(class="input-field")
                                input(type="text" class="input-box" id="regEmail" required)
                                label(for="regEmail") Email Address 
                        div(class="input-group")
                            div(class="input-field")
                                input(type="password" class="input-box" id="regPassword" required)
                                label(for="regPassword") Password 
                                div(class="eye-area")
                                    div(class="eye-box" onClick="myRegPassword()")
                                        i(class="fa-regular fa-eye" id="eye-2")
                                        i(class="fa-regular fa-eye-slash" id="eye-slash-2")
                            div(class="remember")
                                input(type="checkbox" id="formCheck-2" class="check")
                                label(for="formCheck-2") Remember Me 
                            div(class="input-field" )
                                input(type="submit" class="input-submit" value="Sign In")
                
                div(class="switch")
                    a(href="#" class="login" onClick="login()") Login
                    a(href="#" class="register" onClick="register()") Register
                    div(class="btn-active" id="btn")
